bin/
etc/
include/
lib/
__pycache__/
lib64
pyvenv.cfg
share/
*Ancilarry_Datasets/
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.mxd
*.tfw
*.tif
*.tif.aux.xml
*.tif.ovr
data/Terrestrial_Domain/4.6LandCover/Figure4.9/
.DS_Store
.vscode/
notebooks/.ipynb_checkpoints/
env.py