body {
    /* taken from CI-Platform */
    color: #555;
    font-family: 'Artegra Sans','Source Sans Pro','Poppins',"Myriad Pro","Gill Sans","Gill Sans MT","Neue Helvetica",helvetica,"Myriad Pro",Calibri,sans-serif;
    font-size: 20px;
    font-weight: 100;
}

a, a:active, a:focus{
    outline: none; 
}

#page-content {
    max-width: 1140px;
    min-height:calc(100vh - 110px);
    margin-left:auto; 
    margin-right:auto}

.sr-header{
        background-color:#353535;
        color:white;
        padding:10px;
        font-size:21px;
        height: 60px;
        width:100%;
    }

.sr-footer{
    background-color:#353535;
    margin-top:30px;
    min-height: 50px;
    width:100%;
}

.sr-menu-intro-col{
    /* background-color:#fef4e6; */
    border-radius:10px;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-top:15px;
    margin-bottom:15px;
}

.sr-menu-graphic {
    top:-60px;
    position: relative;
    /* overflow: hidden; */
}

.sr-graphic-menu-img {
    width: 1140px;
    max-width: 1140px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.sr-menu-logo{
    max-width:300px;
    margin-top:15px
}

.sr-menu-list{
    margin-top:15px;
}

.sr-menu-ul {
    list-style-type: none;
    padding-left:0px;
}

.sr-menu-ul > li > h4 {
    text-align: center;
}

.sr-menu-list-icon{
    width:30px;
}

.sr-gcos-ack{
    font-style: italic;
    padding:10px;
}

.sr-banner {
    overflow-y: hidden;
    position:relative;
    border-radius:3px;
    /* margin-top:10px; */
    padding:0px;
    max-height: 450px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sr-banner-img {
    width:100%;
    max-width: 1140px;
}

.sr-img-credit{
    position:absolute;
    bottom:0px;
    right:15px;
    color: #fff;
    padding:5px;
    font-size:12px;
    font-weight:100;
}

.sr-banner-inner {
    width:80%;
    /* min-width:300px; */
    max-width:600px;
    /* height: 300px; */
    position:absolute;
    bottom:10%;
    /* left:15px; */
    left:0px;
    background-color:rgb(255, 255, 255, 0.8);
    padding:10px;
    padding-left:20px;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
}

.sr-banner-heading{
}

.sr-banner-logo {
    width:80%;
    max-width:300px;
    margin-top:10px
    /* margin-left: 20px; */
}

.sr-banner-org-icon{
    max-height:70px;
    margin-bottom:10px;
}

.sr-page-nav-row {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.sr-page-breadcrumb {
    margin-top: 10px;
}
.sr-page-nav {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 10px;
}

.sr-page-nav-item {
    text-align: center;
    padding: 5px;
    margin:0px;
    font-size: 20px;
    font-weight: 100;
    vertical-align: middle;
    display:block;
}

.sr-trends::before,.sr-infrastructure::before,.sr-info::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0; 
}

.sr-intro, .sr-trends, .sr-infrastructure, .sr-info {
    border-bottom: 1px solid;
    padding-bottom:10px;
}

.sr-section-heading {
    margin-top:15px;
    text-align: center;
}
.sr-intro {
    padding-top:10px;
}

.sr-intro-icon {
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
}
.sr-bullet-col {
    border-radius:10px;
    margin-bottom:15px;
}
.sr-bullet-ul {
    /* margin-bottom: 15px;
    padding-bottom: 15px; */
    padding-top: 10px;
    list-style-type: none !important;
    text-align: left !important;
}

.sr-bullet-ul li {
  padding-top:10px
}
.sr-bullet-ul li::before {
    content: "-";
    text-indent: -5px;
    margin-right: 5px;
    margin-left: -15px;
}

.sr-chart-title{
    text-align: center;
    color:#808080;
}

.sr-nav-carousel {
margin-top:15px;
}

.sr-nav-carousel-logo {
    max-width:250px;
    padding: 10px;
    border-radius: 10px;   
}

.sr-nav-carousel-logo:hover{
    background-color:#e6f3f5;
}

.sr-nav-carousel-img, .sr-nav-carousel-img-hover {
    width:100%;
    max-width:100px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease;
}

.sr-nav-carousel-link .sr-nav-carousel-img-hover {
    opacity: 0;
    display:none;
}

.sr-nav-carousel-link:hover > .sr-nav-carousel-img-hover{
    opacity: 1;
    display:block;
}

.sr-nav-carousel-link:hover > .sr-nav-carousel-img{
    display:none;
}

.sr-chart-short{
    height:300px;
}

._up{
    -webkit-transform: rotate(270deg)!important;  /* to support Safari and Android browser */
    -ms-transform: rotate(270deg)!important;      /* to support IE 9 */
    transform: rotate(270deg)!important;
    margin-right: 10px;
}
@media only screen and (max-width: 1000px) {
    #chart_4_7_FAPAR .annotation {
        visibility:hidden;
  }
  /* #chart_4_7_FAPAR .infolayer {
    visibility:hidden;
    width:0px;
} */
/* #chart_4_7_FAPAR .hm {
    width:100%!important;
} */
}

@media only screen and (max-width: 600px) {
    .sr-bullet-ul{
        padding-left:15px;
    }
    .slick-prev{
        left:-15px;
    }
    .slick-next{
        right:-15px;
    }
    .sr-menu-intro-col {
        border-radius:0px;
    }
    .sr-bullet-col {
        border-radius:0px;
    }

  }





